/* ------------------------------------------------------------ */
/* [CSS] - root-body.css ( default )
/* ------------------------------------------------------------ */
/* > anker scroll smooth css effect ( no js )
/* > body layout , font-size , font-family , ... 
/* > default colors 
/* > default often used: 
/* mini-layouts, txt-stylings , img-styling , a-link styling ,
/* pos-styling
/* ------------------------------------------------------------ */


html { 

    /* works by anker jumping & use smooth scroll effect ,
    /* old way would be to programming it in java script */
    scroll-behavior: smooth;
}


/* ---------------------------------------------------------------------------- */
/* Body Layout ( header, main , footer ) & font-size , font-family , ...
/* ---------------------------------------------------------------------------- */
body {


    /* delete default margin of webpage of 8px */
    margin:0;
    overflow-x: hidden; 

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* 1rem is default 16px, u can use 1em too */
    /* 1rem is fixed and 1em is realtive & depends on container */
    font-size: calc( .1vw + 1.3rem);


    /* ----------------------------------------- */
    /* Default Layout ( header , main , footer ) */
    /* ----------------------------------------- */
    
    min-height: 100vh;

    display: grid;
    grid: auto 1fr auto / 1fr;


}










/* ----------------------------------------------------------------- */
/* Colors
/* ----------------------------------------------------------------- */
:root { 


/* ----------------------------------------- */
/* Dark Colors                               */
/* ----------------------------------------- */

    /* black & grey */
    --black: black;
    --moon-dark: #212121;
    --dark-grey: #616161;

    /* brown */
    --dark-brown: #6b5441;
    --dark-light-brown: #61380B;


/* ----------------------------------------- */
/* Light Colors                              */
/* ----------------------------------------- */

    /* light grey & light brown */
    --skin-brown: #d1c0a5;
    --light-skin-brown: #D9BF98;
    --light-grey: #d3d3d3;

    /* blue */
    --css-blue: #2dceff;
    --lightblue: lightblue;

    /* white */
    --white:white;

}












/* ------------------------------------------------- */
/* Default Mini Layouts  ( often used ) 
/* ------------------------------------------------- */


/* 2 cols e.g img + title */
.flex-2-cols {

    display: flex;
    column-gap: calc(.1vw + .6em);
    align-items: center;
}









/* content header with img & title */
.h-flex-img-title {

    margin-top: calc(.1vw + .5em);
    margin-top: calc(.1vw + .5em);

    display: flex;
    column-gap: calc(.1vw + 1em);
    align-items: center;
}



.grey-parting-line { 

    width: 100%;
    height: .1vw;
    background-color: rgba(0, 0, 0, .4);

    margin-top: calc(.1vw + 1em);
    margin-bottom: calc(.1vw + 1em);
}



/* ----------------------------------------- */
/* [ 1 / 4 ] - Text Sytling ( often used )   */
/* ----------------------------------------- */

/* txt bold */
.txt-b { font-weight: bold; }

    

/* --------------------------------------------- */
/* [ 2 / 4 ] - Img Sytling ( often used )        */
/* --------------------------------------------- */

.img-curved-shadow { 

    border-radius: 1em;
    box-shadow: 0px 3px 3px 3px var(--black);
}



/* ----------------------------------------------- */
/* [ 3 / 4 ] - a-link Sytling  ( often used )      */
/* ----------------------------------------------- */




/* --------------------------------------------------- */
/*  [ 4 / 4 ] - Pos Sytling ( often used )             */
/* --------------------------------------------------- */


/* flex content to the right */
.flex-end-pos { justify-content: flex-end; }


/* float right */
.float-right { float: right; }

/* float left */
.float-left { float: left; }









