/* ------------------------------------------------------- */
/* [CSS] - product.css
/* ------------------------------------------------------- */
/* > grid layout with order arts
/* ------------------------------------------------------- */