/* ------------------------------------------------------- */
/* [CSS] - it-solution.css
/* ------------------------------------------------------- */
/* > grid layout with order arts
/* ------------------------------------------------------- */



/* ------------------------------------------------------- */
/* default it-solutions layout (grid) 
/* ------------------------------------------------------- */


#it-solutions-layout { 

    display: grid;
    /* only by desktop view */
    column-gap: calc(.1vw + 2em);
}


/* ------------------------------------------------------- */
/* [Row 1] - Image + Header + Ul 
/* ------------------------------------------------------- */


.it-solution-row-1 , .it-solution-row-2 { 

    display: grid;
    row-gap: calc(.1vw + 1em );
}


/* ------------------------------------------------------- */
/* [Row 2] - Img's + List's + Price Box
/* ------------------------------------------------------- */





